@import url('https://fonts.googleapis.com/css2?family=Joan&family=Josefin+Sans:ital,wght@0,400;1,300&family=Merriweather:wght@900&family=Montserrat:ital,wght@1,300&family=Oswald:wght@300&family=Pacifico&family=Quicksand:wght@300&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

.nav-bar {
    background-color: white;
    color: black;
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    left: 9vw;
    cursor: pointer;
}

.search {
    position: absolute;
    left: 20vw;
    margin: 0vw 1vw;
}

.log-in {
    position: absolute;
    left: 66vw;
    margin: 0vw 6vw;
    text-decoration: none;
}

.profile {
    position: absolute;
    left: 81vw;
    margin: 1vw 3vw;
}

a {
    text-decoration: none;
}

#badge {
    width: 10vw;
    height: 5vh;
}

#searchInput {
    width: 47vw;
    position: relative;
    right: -5vh;
    height: 7vh;
    border-color: red;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    outline: none;
}

#search-icon {
    height: 3vh;
    width: 2vw;
    position: relative;
    top: 1vh;
    right: -4vh;
}

#profile-img {
    height: 8vh;
    width: 5vw;
    border-radius: 15px;
}

.sign-up-text {
    position: relative;
    top: -3vh;
}

.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.btn-sort {
    margin: 2vw;
    height: 5vh;
    width: 10vw;
    font-weight: 200;
    background-color: #dfdcec7a;
    border-style: hidden;
    cursor: pointer;
}

.container {
    display: grid;
    grid-template-columns: 31vw 31vw 20vw;
    justify-content: center;
    align-items: center;
    grid-gap: 39px 12px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 23vw;
}

.restaurants:hover {
    background-color: silver;
    cursor: pointer;
}

main {
    min-height: 200vh;
}

footer {
    height: 30vh;
    width: 100%;
    background-color: #d1d5c84a;
}

.restaurant-img {
    height: 32vh;
    width: 20vw;
}

.location-header {
    font-family: 'Montserrat', sans-serif;
    padding: 3vh 9vw;
    font-size: xx-large;
}

div p {
    font-family: 'Josefin Sans', sans-serif;
    margin: 1vh 0vh;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1vh 2vw;
    padding: 1vh 7vw;
}

#foot-logo {
    width: 10vw;
    align-self: flex-start;
    position: relative;
    top: 9vh;
}

.foot-info {
    font-family: 'Quicksand', sans-serif;
}

.foot-topic {
    font-family: 'Oswald', sans-serif;
    font-size: x-large;
}

.copy-right {
    font-family: sans-serif;
    font-size: small;
    margin: 2vh 0vw;
}